{% extends 'base.html.twig' %}

{% block title %}Entraînement{% endblock %}

{% block body %}
    <div style="padding: 10px;">
        <div class="container" style="margin-right: auto; margin-left: auto;">
            {% if poke_by_user is empty %}
                <p class="lead text-justify border rounded border-warning shadow"
                   style="color: #FFFFFF; background-color: #1e2833; padding-right: 10px; padding-left: 10px;">Tous tes
                    pokémons sont fatigués, repasse plus tard !</p>
            {% endif %}

            <div class="row justify-content-center features">
                {% for pokemon in poke_by_user %}
                    <div class="col-sm-5 col-md-4 col-lg-3 item">
                        <div class="border rounded border-warning shadow"
                             style="text-align: center; padding: 30px; background-color: #1e2833; margin-bottom: 10px; color: white">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.getEspece().id }}.png"
                                 width="100" height="100" alt="{{ pokemon.getEspece().nom }}"/>
                            <h3 class="name">{{ pokemon.nom }}</h3>
                            <p class="description">{{ pokemon.getEspece().nom }}<br>{{ pokemon.xp }}XP</p>

                            <a href="{{ path('train_pick', {'idPkm': pokemon.id}) }}"
                               class="btn btn-light">Entrainer</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
