{% extends 'base.html.twig' %}

{% block title %}Pokemon index{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center" style="margin-top: 20px; color: #ffba08;">La liste des pokémons que tu possèdes</h2>
    </div>
    <div class="container" style="margin-top: 25px;">
        <div class="table-responsive table-borderless border rounded border-warning shadow" style="margin-right: auto; margin-left: auto;background-color: #1e2833;">
            <table class="table" style="color: #FFFFFF">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Xp</th>
                        <th>Elo</th>
                        <th>Repos</th>
                        <th>Status</th>
                        <th>Vendre rapidement</th>
                    </tr>
                </thead>
                <tbody>
                {% for pokemon in pokemon %}
                    <tr>
                        <td><a href="{{ path('pokemon_show', {'id': pokemon.id}) }}">{{ pokemon.nom }}</a></td>
                        <td>{{ pokemon.xp }}</td>
                        <td>{{ pokemon.elo }}</td>
                        <td>{{ pokemon.repos ? pokemon.repos|date('Y-m-d H:i:s') : '' }}</td>
                        {% if pokemon.status == 'avendre' %}
                            <td>En vente</td>
                            <td>{{ pokemon.prix }} PokeDollars</td>
                        {% else %}
                            <td>{{ pokemon.status }}</td>
                            <td>
                                <form action="{{ path('marker_sell') }}" method="GET">
                                    <input value="{{ pokemon.id }}" name="pkmToSell" hidden>
                                    <input type="number" name="pkmPrix" min="0" placeholder="Indique le prix" required>
                                    <input type="submit" value="Vendre">
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
