{% extends 'base.html.twig' %}

{% block title %}Pokemon index{% endblock %}

{% block body %}
    <h1>Pokemon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>CourbeXP</th>
                <th>Evolution</th>
                <th>Type1</th>
                <th>Type2</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pokemon in pokemon %}
            <tr>
                <td>{{ pokemon.id }}</td>
                <td>{{ pokemon.nom }}</td>
                <td>{{ pokemon.courbeXP }}</td>
                <td>{{ pokemon.evolution ? 'Yes' : 'No' }}</td>
                <td>{{ pokemon.type1 }}</td>
                <td>{{ pokemon.type2 }}</td>
                <td>
                    <a href="{{ path('pokemon_show', {'id': pokemon.id}) }}">show</a>
                    <a href="{{ path('pokemon_edit', {'id': pokemon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pokemon_new') }}">Create new</a>
{% endblock %}
