{% extends 'base.html.twig' %}

{% block title %}Marché{% endblock %}

{% block body %}
    <div style="padding: 10px;">
        <div class="container">
            <p class="lead text-justify border rounded border-warning shadow"
               style="color: #FFFFFF; background-color: #1e2833; padding-right: 10px; padding-left: 10px;">
                Bienvenue dans le Marché ! Ici tu peux acheter ou vendre des pokémons à un certains prix. Passe ta
                souris par dessus les pokémons pour plus d'informations à leur sujet.
            </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center" style="padding: 5px;">
                    <div>
                        <h2 style="color: #ffba08">Achat</h2>
                    </div>
                    <form action="{{ path('market_buy') }}" method="get">
                        <div class="table-responsive border rounded border-warning shadow overflow-auto"
                             style="background-color: #1e2833;height: 270px;">
                            <table class="table">
                                <thead style="color: white;">
                                <tr>
                                    <th colspan="3">Liste des pokémons disponibles sur le marché</th>
                                </tr>
                                </thead>
                                <tbody style="color: white;">
                                {% for pokemon in poke_to_buy %}
                                    <tr>
                                        <td><label><input type="radio" name="pkmToBuy" value="{{ pokemon.id }}"><img
                                                        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.getEspece().id }}.png"
                                                        width="30" height="30"
                                                        alt="{{ pokemon.getEspece().nom }}"/></label></td>
                                        <td data-togle="tooltip" data-placement="left"
                                            title="Espece : {{ pokemon.getEspece().nom }}&#13;Type : {{ pokemon.getEspece().getType()[0].nom }} {% if pokemon.getEspece().getType()[1] is defined %} & {{ pokemon.getEspece().getType()[1] }}{% endif %}&#13;XP : {{ pokemon.xp }}">{{ pokemon.nom }}</td>
                                        <td>{{ pokemon.prix }} $</td>
                                        {% if app.user == pokemon.getUser() %}
                                            <td>
                                                <a href="{{ path('market_out', {'id': pokemon.id}) }}"
                                                   class="btn btn-warning">X</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <input id="buttonSubmitBuy" type="submit" value="Acheter ce pokémon !"
                                   onclick="return confirm('Es-tu sûr de ton choix ?');">
                        </div>
                    </form>
                </div>
                <div class="col-md-6 text-center" style="padding: 5px;">
                    <div>
                        <h2 style="color: #ffba08">Vente</h2>
                    </div>
                    <form action="{{ path('marker_sell') }}" method="get">
                        <div class="table-responsive border rounded border-warning shadow overflow-auto"
                             style="background-color: #1e2833;height: 270px;">
                            <table class="table">
                                <thead style="color: white;">
                                <tr>
                                    <th colspan="3">Tes pokémons disponibles à la vente</th>
                                </tr>
                                </thead>
                                <tbody style="color: white;">
                                {% for pokemon in poke_by_user %}
                                    <tr>
                                        <td><label><input id="sell-{{ pokemon.id }}" type="radio" name="pkmToSell"
                                                          value="{{ pokemon.id }}" onclick="addPrice(this)"><img
                                                        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.getEspece().id }}.png"
                                                        width="30" height="30"
                                                        alt="{{ pokemon.getEspece().nom }}"/></label></td>
                                        <td data-togle="tooltip" data-placement="left"
                                            title="Espece : {{ pokemon.getEspece().nom }}&#13;Type : {{ pokemon.getEspece().getType()[0].nom }} {% if pokemon.getEspece().getType()[1] is defined %} & {{ pokemon.getEspece().getType()[1] }}{% endif %}&#13;XP : {{ pokemon.xp }}">{{ pokemon.nom }}</td>
                                        <td id="price-sell-{{ pokemon.id }}"></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <input id="buttonSubmitBuy" type="submit" value="Vendre ce pokémon."
                                   onclick="return confirm('Es-tu sûr de ton choix ?');">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function addPrice(elem) {
            if (!document.getElementById("price-sell-input-" + elem.value)) {
                let alreadyExistsInput = document.querySelectorAll('[id^=price-sell-input-')
                if (alreadyExistsInput) {
                    alreadyExistsInput.forEach(element => {
                        element.outerHTML = "";
                    });
                }
                let addPriceInput = document.createElement("input")
                addPriceInput.type = "number";
                addPriceInput.min = "0";
                addPriceInput.required = true;
                addPriceInput.id = "price-sell-input-" + elem.value;
                addPriceInput.placeholder = "Fixe le prix";
                addPriceInput.name = 'pkmPrix';
                document.getElementById("price-sell-" + elem.value).appendChild(addPriceInput);
            }
        }
    </script>
{% endblock %}