{% extends 'base.html.twig' %}

{% block title %}Succès !{% endblock %}

{% block body %}
    <div class="container" style="padding: 10px;">
        <div class="row">
            <div class="col">
                <p class="lead text-justify border rounded border-warning shadow"
                   style="color: #ffffff;background-color: #1e2833;padding-right: 10px;padding-left: 10px;">Bravo ! Tu
                    viens de capturer un {{ pkmCap.nom }}, {{ myPkm }} qui t'accompagnait pour la capture a gagné : 100
                    xp ! Donne un nom au pokémon que tu as capturé.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="post">
                    {{ form_start(pkmForm) }}
                    <div class="form-group">
                        {{ form_row(pkmForm.nom, {'attr': {'class': 'form-control', 'placeholder': 'Surnom du pokémon'}}) }}
                    </div>
                    <div>
                        <input type="submit" value="Super !">
                        {{ form_end(pkmForm) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}